---
import Main from "../layouts/Main.astro";
import Intro from "../layouts/Intro.astro";
import Navigation from "../layouts/Navigation.astro";
---

<Main title="Rafael Rondão">
	<Intro>
		<span slot="main-text">Rafael Rondão</span>
		<span slot="sub-text">A software developer interested in</span>
	</Intro>
	<Navigation>
		<p>Projects</p>
		<p>System</p>
		<p>Rust</p>
		<p>Books</p>
		<p>Credits</p>
	</Navigation>

	<section>
		<h3>GitHub projects</h3>
		<article>
			<div id="div-place-holder"></div>
			<div>
				<h3>This Website!</h3>
				<h5>An Astro project for static generation of this Website.</h5>
			</div>
		</article>
		<article>
			<div>
				<h3>A SuperMetroid map editor</h3>
				<h5>
					Written in Rust and using immediate GUI library egui,
					enabling compiling for Desktop and Web through WASM.
				</h5>
			</div>
			<div id="div-place-holder"></div>
		</article>
		<article>
			<div id="div-place-holder"></div>
			<div>
				<h3>A song listing toy app</h3>
				<h5>
					Comparison implementation of the same App using Flutter and
					native Kotlin.
				</h5>
			</div>
		</article>
		<article>
			<div>
				<h3>A multi-layer perceptron neural network</h3>
				<h5>
					Basic AI implementation in Rust for classifying hand written
					digits.
				</h5>
			</div>
			<div id="div-place-holder"></div>
		</article>
		<article>
			<div id="div-place-holder"></div>
			<div>
				<h3>A twitch hype detector and compositor</h3>
				<h5>
					A Python script to detect hype moments in live stream and
					clip them. Can also be used in VODs and create a timestamp
					file. A compositor can join this moments through a timestamp
					file into a single video.
				</h5>
			</div>
		</article>
	</section>
	<footer>
		This website was possible thanks too: <br />
		Astro <br />
		VSCode <br />
		Github <br />
		Pages
	</footer>
</Main>

<style>
	h3,
	footer {
		margin: 0.5rem;
		text-align: center;
	}
	section {
		margin-left: 15%;
		margin-right: 15%;
	}
	article {
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: flex;
	}
	#div-place-holder {
		border: solid;
		display: block;
		width: 5rem;
		height: 5rem;
	}
</style>
