---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Rafael Rondão" />
		<meta name="description" content="My personal website" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Developer, Programming" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style>
			html {
				font-family: sans-serif;
				font-size: xx-large;
				color: white;
				background: hsl(245, 27%, 17%);
			}
		</style>
	</body>
</html>
